.navigation {
    text-align: center;
}

.navigation-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expense-container > h1 {
    font-size: 62px;
}

.navigation-title {
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 8px;
    margin: 12px;
}